

{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content%}
    <h1>Welcome, {{ user.username }}</h1>
    <h2>Your PAN Information</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>PAN</th>
                <th>Father's Name</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ profile.name }}</td>
                <td>{{ profile.DOB }}</td>
                <td>{{ profile.Pan }}</td>
                <td>{{ profile.father_Name }}</td>
                <!-- Add more columns as needed -->
            </tr>
        </tbody>
    </table>
    <hr>

{% endblock %}
